<div class="auth-page">
    <div class="auth-card">
        <div class="header-container">
            <div class="icon-circle">
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <h2>Verify Code</h2>
            <p>Enter the 6-digit code sent to<br><strong>{{ email }}</strong></p>
        </div>

        <form [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
            <div class="form-group">
                <input type="text" formControlName="otp" class="form-control otp-input" placeholder="######"
                    maxlength="6">
                <div *ngIf="otpForm.get('otp')?.touched && otpForm.get('otp')?.errors" class="error-msg center-text">
                    <span *ngIf="otpForm.get('otp')?.errors?.['required']">Code is required</span>
                    <span *ngIf="otpForm.get('otp')?.errors?.['pattern']">Only numbers allowed</span>
                    <span *ngIf="otpForm.get('otp')?.errors?.['minlength']">Must be 6 digits</span>
                </div>
            </div>

            <div class="timer-section">
                <span *ngIf="timeLeft > 0"><i class="fas fa-clock"></i> {{ timerText }}</span>
                <button type="button" class="resend-btn" [disabled]="timeLeft > 0 || isSubmitting"
                    (click)="resendCode()">
                    Resend Code
                </button>
            </div>

            <button type="submit" class="btn-submit" [disabled]="isSubmitting">
                {{ isSubmitting ? 'Verifying...' : 'Verify Code' }}
            </button>

            <div class="auth-footer">
                <a (click)="changeEmail()" class="back-link"><i class="fas fa-arrow-left"></i>
                    Change Email</a>
            </div>
        </form>
    </div>
</div>